<!DOCTYPE html>
<html lang='vi'>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>User Information</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container">
        <table class="dashboard-table">
            <thead>
                <tr>
                    <th><a href="#">ID</i></a></th>
                    <th><a href="#">cn</i></a></th>
                    <th><a href="#">displayName</i></a></th>
                    <th><a href="#">gidNumber</i></a></th>
                    <th><a href="#">givenName</i></a></th>
                    <th><a href="#">homeDirectory</i></a></th>
                    <th><a href="#">loginShell</i></a></th>
                    <th><a href="#">sn</i></a></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            {%for user in users%}
            <tr>
                <td>{{ loop.index}}</td>
                <td>{{user["cn"]}}</td>
                <td>{{user["displayName"]}}</td>
                <td>{{user["gidNumber"]}}</td>
                <td>{{user["givenName"]}}</td>
                <td>{{user["homeDirectory"]}}</td>
                <td>{{user["loginShell"]}}</td>
                <td>{{user["sn"]}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>



    <div class="footer">
        <button class="button" onclick="logout()">Logout</button>
        <button class="button" onclick="log()">Log</button>
    </div>
    <script src="{{ url_for('static', filename='js/vendor.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/foundation.js')}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function logout() {
            window.location.href = 'http://localhost:5500/Frontend/index.html';
        }

        function log() {
            $.ajax(
                {
                    url: 'http://localhost:5000/login',
                    type: 'GET',
                    success: function (data) {
                        window.location.href = 'http://localhost:5000/login'
                        console.log(data);
                    },
                    error: function (data) {
                        console.log(data.responseJSON);
                        alert(data.responseJSON.error);
                    }
                }
            )
        }
    </script>



</body>

</html>